body {
    background-color: #4A4E2A;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Montserrat;
}
.container {
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}
.main-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-image: url(image/Background.png); /* Thay 'path/to/your/image.jpg' bằng đường dẫn hình ảnh của bạn */
    background-size: cover; /* Điều chỉnh để hình ảnh bao phủ toàn bộ phần tử */
    background-position: center; /* Đảm bảo hình ảnh ở giữa */
}
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
    height: 30pt;
    font-family: Montserrat;
}
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    font-size: 16px;
}
.btn {
    background-color: #4A4E2A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
.resend {
    color: #4A4E2A;
    font-size: 14px;
    margin-bottom: 20px;
}
.resend a {
    color: #4A4E2A;
    text-decoration: none;
    font-weight: bold;
}
.code-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.code-input div {
    width: 20%;
    height: 2px;
    background-color: black;
}
button, div, input {
    font-family: Montserrat;
}
button{
    font-weight: bold;
}
.otp-container {
    display: inline-block;
    text-align: center;
}
.otp-input {
    width: 40px;
    height: 40px;
    margin: 5px;
    font-size: 24px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.otp-input:focus {
    border-color: rgb(138, 46, 46);
    outline: none;
}